<% provide(:title, "Home")%>
<div class="center hero-unit">
<h1>Welcome to the ExpPlan</h1>
<h2>This is the Experiment scedule
 <a href="">@ Maruo Lab.</a>
</h2>

<%= link_to "Sign in", '#', class:"btn btn-large btn-primary" %>
</div>

<%= link_to "sign up", signup_path %>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org'%>
